body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

p {
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.top-title {
  background-color: lightgray;
  background-image: url("./assets/img/banner.jpg");
  background-repeat: no-repeat;
  background-position: cover;
}
